@import 'tailwindcss';

/* Gambetta */
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Semibold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Light.woff2);
  font-weight: 300;
}

/* General-sans */
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general_sans/GeneralSans-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general_sans/GeneralSans-Semibold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general_sans/GeneralSans-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general_sans/GeneralSans-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general_sans/GeneralSans-Light.woff2);
  font-weight: 300;
}

@theme inline {
  --font-sans: var(--font-dm);
  --font-monts: var(--font-montserrat);
  --font-gambetta: 'Gambetta', system-ui;
  --font-general: 'General Sans', system-ui;
}

button {
  cursor: pointer;
}
